@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@font-face {
    font-family: 'typo-titre';
    src: url('solway-regular-webfont.woff2') format('woff2'),
         url('solway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}