

$cmy : "http://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/CMYK_separation_%E2%80%93_no_black.jpg/268px-CMYK_separation_%E2%80%93_no_black.jpg";
$cmyk : "http://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/CMYK_separation_%E2%80%93_maximum_black.jpg/201px-CMYK_separation_%E2%80%93_maximum_black.jpg";body {
    font-family: 'Open Sans', ;
    padding: 20px;
}

h2{
    font-size: 30px;
}

.bg-blend {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/building.jpg);
    background-color: red;
    background-blend-mode: multiply;
  }
  
  .normal-image {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/building.jpg);
  }
  
  .just-color {
    background: red;
  }
  
  body {
    padding: 20px;
  }
  .demo > div {
    float: left;
    width: 200px;
    height: 200px;
    background-size: cover;
  }
  .demo {
      
    margin: 0 auto;
    width: 600px;
    overflow: hidden;
  }

  .cmy {
    background:
      url($cmy) top left,
      url($cmy) center center,
      url($cmy) bottom right;
    height: 200px;
    
    &:hover {
      background-position:
        top center,
        center center,
        bottom center;
    }
  }
  
  .cmyk {
    background:
      url($cmyk) top left,
      url($cmyk) 402px 303px,
      url($cmyk) 201px -150px,
      url($cmyk) bottom right;
    background-size: 25% 400%;
    height: 150px;
      
    &:hover {
      background-position:
        top center,
        center 303px,
        center -150px,
        bottom center;
    }
  }
  
  .cmy, .cmyk {
    margin: .25rem auto;
    width: 804px;
    background-blend-mode: multiply;
    background-color: white;
    background-repeat: repeat-y;
    transition: .25s .5s;
    border-radius: .25rem;
    
    
    &:hover {
      transition: 1.5s 0;
    }
  }


@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:900);

section {
  padding: 120px 50px 170px;
  background: url(https://miro.medium.com/max/7296/1*nfNi7oUIZBakAdyXXcmirw.jpeg);
  background-size: cover;
  text-align: center;
}
section h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 130px;
  color: yellow;
  mix-blend-mode: screen;
  padding: 0;
  margin: 0;
  line-height: 0.5;
}